@import "vars";
@import "util";

*, *:before, *:after {box-sizing: border-box;}

html {
  font-size: 14px;
}

body {
  color: @font-color;
}

a {
  cursor: pointer;
  color: #00f;
  text-decoration: underline;
}

#app-container {
  .outline(#0f0);
  width: 960px;
  margin: 80px auto 0 auto;
}

@import "sequencer";
@import "ui/scale";
