.editor {
  .side-panel;
  padding: 12px 24px;
}

.line-grid {
}

.line {
  display: flex;
}

.slot {
  .clicky;
  .border;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}