@slotColor: #fff;
@altSlotColor: #f2f2f2;

.editor {
  .side-panel;
  width: 680px;
  padding: 12px 24px;
  background: #fff;
}

.line-grid {
}

.line {
  display: flex;
  &:nth-child(odd) .slot:nth-child(odd) {
    background: @altSlotColor;
  }
  &:nth-child(even) .slot:nth-child(even) {
    background: @altSlotColor;
  }
}

.slot {
  .clicky;
  .flex-center;
  flex: 1;
  height: 32px;
  font-size: 12px;
  background: @slotColor;
}