@import "sequencer";

@infoWidth: 240px;

.overview {}
.channel-grid {}

.channel-wrapper {

  display: flex;
  margin: 2px 0;

  .channel-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: @infoWidth;
    padding-right: 12px;
    a:not(:first-child) {margin-left: 4px}
  }

  .channel-title {
    text-align: center;
  }

}

.channel-menu {
  padding: 24px 0;
  h4 {margin: 0}
  text-align: center;
  .sample-option {padding: 0 2px}
}

@import "tempo-bar";