// Channels
@channelRowWidth: 600px;

// Blips
@beats: 16;
@blipLength: @channelRowWidth / @beats;

// Colors
@muteBlipBackground    : #fff;
@activeBlipBackground  : #fffd31;
@playingBlipBackground : #fdd;

.channel {
  position: relative;
  display: flex;
  width: @channelRowWidth;
  &.mute:after {
    .overlay(#888);
    pointer-events: none;  // Prevent the overlay from capturing click events
  }
  &:not(.mute) .blip.playing {
    background: @playingBlipBackground;
  }
}

.blip {
  -webkit-user-select: none;
  cursor: pointer;
  width: @blipLength;
  height: @blipLength;
  .border;

  background: @activeBlipBackground;
  &.mute {background: @muteBlipBackground}

}