.hide {display: none;}
.show(@display: block) {display: @display;}

.outline(@color:#f00) {outline: 1px solid @color;}
.outline {.outline();}
.border(@color: #f00) {border: 1px solid @color;}

.column() {
  display: inline-block;
  vertical-align: top;
}

.flow-content {
  display: flex;
  flex-flow: row wrap;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.small-caps {
  font-size: @font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.overlay(@background, @opacity: 0.24) {
  content: "";
  z-index: 4000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: @background;
  opacity: @opacity;
}