// <TODO> Move somewhere else
.card {
  background: @colorPrimary;
  color: #fff;
}

.dashboard {

  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding: 60px 40px;

  h2 {
    font-size: 50px;
    font-weight: normal;
    color: #424242;
  }

  .song-list {

    li {
      margin: 12px 0;
    }

    a {
      .card;
      .flex-center;
      width: 200px;
    }

  }

  .song-item {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 76px;
    border: 1px solid #aa83ce;
    // box-shadow: 0 4px 12px #ccc;
  }

  .block-list {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .block {
    flex: 1;
    height: 100%;
    cursor: pointer;
  }

  .squeeze-channels;

}