// Sequencer
@beats: 16;

// Blips
@blipWidth: 48px;
@blipHeight: 42px;

// Channels
@channelWidth: @blipWidth * @beats;

// Colors
@blipBorderColor: #5f3b81;

.sequencer {
  padding: 24px;
}

.channel {
  .clicky;
  position: relative;  // Needed to position overlay
  display: flex;
  width: @channelWidth;
  height: @blipHeight;
  background: lighten(@blipBorderColor, 54%);
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    left: @blipWidth * 4;
    width: @blipWidth * 4;
    height: 100%;
    background: lighten(@blipBorderColor, 60%);
  }
  &:after {
    left: @blipWidth * 12;
  }
  // &.mute:after {
  //   .overlay(#541751);
  //   pointer-events: none;  // Prevent overlay from capturing click events
  // }
}

@keyframes fadeOpacity {
  from {opacity: 0}
  to {opacity: 1}
}

.blip {
  z-index: 1;
  .flex-center;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  width: @blipWidth;
  height: @blipHeight;
  opacity: 0;
  transition: opacity 300ms ease-out;
  &.enabled {
    opacity: 1;
    transition: none;
    animation: 180ms linear fadeOpacity;
  }

}