.song-overview {

  .outline;

  .channel {
    width: 100%;
    height: auto;
  }

  .blip {
    width: 100% / @beats;
    height: 100%;
  }

  .channel-list {
    display: flex;
    flex-direction: column;
    height: 240px;
  }

  .channel-item {
    flex: 1;
    display: flex;
  }

}

.block-grid {
  display: flex;
  flex-wrap: wrap;
}

.block-item {
  .outline;
  width: 25%;
}