.song {

  width: 100%;
  margin: 0 auto 200px auto;
  padding: 0 40px;

  .song-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  h2 {
    margin: 56px 0;
    font-size: 40px;
  }

  .playback-controls {
    .loop {
      margin-left: 1rem;
    }
  }

  .block-grid {
    display: flex;
    flex-wrap: wrap;
    .squeeze-channels;
    .channel-list {
      height: 240px;
    }
  }

  .block-item {

    /*
      <TODO>
      - Make this responsive
      - Add compact view
    */
    width: 100% / 8;

    .relative {
      transition: transform 120ms ease-out;
    }
    .dragging {
      opacity: 0.8;
      transform: scale(0.8)
    }
  }

}