.song-overview {

  .outline;

  // <TODO> What about blocks that have alot of channels?

  .channel {
    width: 100%;
    // height: ;
  }

  .blip {
    width: 100% / @beats;
    height: 100%;
  }

}

.block-grid {
  display: flex;
  flex-wrap: wrap;
}

.block-item {
  width: 25%;
}