.block-grid {

  .outline;
  display: flex;
  flex-wrap: wrap;

  .squeeze-channels;

  .channel-list {
    height: 240px;
  }

}

.block-item {
  .outline;
  width: 25%;
  .relative {
    transition: transform 120ms ease-out;
  }
  .dragging {
    opacity: 0.8;
    transform: scale(0.8)
  }
}