@barColor: #bfc3da;
@markColor: #9cb1c4;

.tempo-bar {}

.tempo-line {
  position: absolute;
  top: 0; margin-left: @infoWidth + @blipWidth;
  z-index: 4000;
  width: 1px; height: 100%;
  background: #000;
}