.hide {display: none;}
.show(@display: block) {display: @display;}

.outline(@color:#f00) {outline: 1px solid @color;}
.outline {.outline();}
.border(@color: #f00) {border: 1px solid @color;}

.relative {position: relative}

.column() {
  display: inline-block;
  vertical-align: top;
}

.small-caps {
  font-size: @font-size-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.overlay(@background:#000, @opacity:0.24) {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: @background;
  opacity: @opacity;
}

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated {
  transition: 160ms ease-out;
}

// Flexbox

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//

.squeeze-channels() {

  .channel-list {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: lighten(@blipBorderColor, 54%);
    &:before, &:after {
      .overlay(lighten(@blipBorderColor, 60%), 1);
      left: 25%;
      width: 25%;
    }
    &:before {
      z-index: 1;
    }
    &:after {
      left: 75%;
    }
  }

  .channel {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    &:not(.mute) {&:before, &:after {display: none}}
    &.mute:after {z-index: 1}
  }

  .blip {
    width: 100% / @beats;
    height: 100%;
  }

}